.carousel-img-div{
    width: 100%;
    height: 80vh;
}

#about-section{
    min-height: 40vh;
    padding: 5vh 0;
}

#call-to-action-section{
    min-height: 40vh;
    padding: 5vh 0;
}

#services-section{
    min-height: 40vh;
    padding: 5vh 0;
}


footer{
    background-color: rgb(63, 63, 63);
    padding: 5vh 0;

    #mt-logo{
        max-width: 50%;
    }
}